html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
html,
body {
  height: 100%;
  position: relative;
  overflow: hidden;
}
body {
  background: #dfefef;
}
canvas {
  position: absolute;
  left: 0;
  top: 0;
  /*width: 100%;
  height: 100%;*/
  z-index: -1;
}
.controls {
  border: 2px solid #000000;
  font-family: Verdana, Arial, sans-serif;
  font-size: 20px;
  width: 350px;
  height: 150px;
  opacity: 1;
  transition: opacity 200ms;
  background-color: #DDD;
  *zoom: 1;
}
.controls:before,
.controls:after {
  content: "";
  display: table;
}
.controls:after {
  clear: both;
}
.controls [class^="ui-"],
.controls button {
  background: none;
  border-radius: initial;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}
.controls:hover {
  opacity: 1;
}
.controls .spinners li,
.controls button {
  border: 2px solid black;
  width: 90%;
  height: 40px;
  margin: 5px auto 0 auto;
}
.controls .spinners li:first-child,
.controls button:first-child {
  margin-top: 10px;
}
.controls .spinners li:hover,
.controls button:hover {
  font-weight: bold;
}
.controls .buttons,
.controls .rods-control {
  height: 100%;
  width: 50%;
  float: left;
  display: inline-block;
}
.controls .buttons {
  *zoom: 1;
  height: 100%;
  text-align: center;
}
.controls .buttons:before,
.controls .buttons:after {
  content: "";
  display: table;
}
.controls .buttons:after {
  clear: both;
}
.controls .buttons button {
  border: 2px solid black;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  transition: border-radius 0.5s, background-color 0.5s;
  background-color: #eee;
}
.controls .buttons button:hover {
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: white;
}
.controls .rods-control {
  position: relative;
  height: 100%;
}
.controls .rods-control .spinners {
  height: 100%;
  width: 80%;
}
.controls .rods-control .spinners li {
  display: block;
}
.controls .rods-control .ui-spinner {
  height: 100% !important;
}
.controls .rods-control .ui-spinner .ui-spinner-input {
  background-color: #eee;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}
.controls .rods-control .ui-spinner .ui-spinner-up,
.controls .rods-control .ui-spinner .ui-spinner-down {
  height: 105%;
  width: 40px;
  box-sizing: content-box;
  border-left: 2px solid black;
  margin: -2px;
  right: 0;
  left: auto;
}
.controls .rods-control .ui-spinner .ui-spinner-up .ui-button-text,
.controls .rods-control .ui-spinner .ui-spinner-down .ui-button-text {
  display: none;
}
.controls .rods-control .ui-spinner .ui-spinner-up:after,
.controls .rods-control .ui-spinner .ui-spinner-down:after {
  content: '-';
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
  text-align: center;
}
.controls .rods-control .ui-spinner .ui-spinner-up:hover,
.controls .rods-control .ui-spinner .ui-spinner-down:hover {
  background: white;
}
.controls .rods-control .ui-spinner .ui-spinner-up {
  border-right: 2px solid black;
  right: auto;
  left: 0;
}
.controls .rods-control .ui-spinner .ui-spinner-up:after {
  content: '+';
}
.controls .rods-control #rodOpacitySlider {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 80%;
  background: #eee;
  border-radius: 50%;
}
.controls .rods-control #rodOpacitySlider .ui-slider-handle {
  border: 2px solid black;
  border-radius: 50%;
  left: -4px;
  margin-left: 0;
  margin-bottom: -15px;
}
#saved {
  display: none;
}
.a,
.b,
.c {
  width: 10px;
  height: 100px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  animation-play-state: paused;
}
.a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: rr 4s infinite linear;
  transform-origin: center bottom;
}
.b {
  animation: rr 2s infinite linear;
  transform-origin: center top;
}
.c {
  animation: rr 1.3s infinite linear;
  transform-origin: center bottom;
}
.draw,
.dot {
  background-color: red;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
}
@keyframes rr {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
